<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="udon">
        <div v-if="page > 1">
            <button @click="page = page - 1">
                back page   
            </button>
        </div>
        <div v-if="page === 1">
            <button v-for="Lmoney in moneylist" @click="money = Lmoney">
                {{Lmoney}}
            </button>
            <button v-for="Lcoupon in couponlist" @click="coupon = Lcoupon">
                {{Lcoupon}}
            </button>
            <div v-if="money">
                <button @click="nextpage">うどんを作る</button>
            </div>
        </div>
        <div v-if="page === 2">
            <div v-for="Ludon in udonlist" @click="nextpage() , selectudon = {name : Ludon.name , price : Ludon.price , img : Ludon.img}">
                {{Ludon.name}}：{{Ludon.price}}円
            </div>
        </div>
        <div v-if="page === 3">
            <img v-bind:src="selectudon.img">
            {{selectudon.name}}：{{selectudon.price}}円
            <button @click="nextpage">コレニスル</button>
        </div>
        <div v-if="page === 4">いいうどんを！</div>
    </div>
    <script src="vue.js"></script>
</body>
</html> 