<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="udon">
        <div v-if="page > 1" class="backpage">
            <button @click="page = page - 1">
                back page   
            </button>
        </div>
        <div v-if="page === 1" class="page_1">
            <button class="money_button" v-for="Lmoney in moneylist" @click="money = Lmoney">
                {{Lmoney}}
            </button>
            <button class="coupon_button" v-for="Lcoupon in couponlist" @click="coupon = {name : Lcoupon.name , price : Lcoupon.price , condition : Lcoupon.condition}">
                {{Lcoupon.name}}
            </button>
            <div v-if="money">
                <button class="make_udon_button" @click="nextpage(),use_coupon()">うどんを作る</button>
            </div>
        </div>
        <div v-if="page === 2" class="page_2">
            <div>おすすめ一覧</div>
            <button class="budget_change_button" @click="decmoney()">-100円</button>
            <div class="budget">予算：{{money}}円</div>
            <button class="budget_change_button" @click="incmoney()">+100円</button>
            <div v-if="!coupon">
                クーポンから
                <div v-for="Ludon in couponsuggest" @click="nextpage() , selectudon = {name : Ludon.name , price : Ludon.price , img : Ludon.img , status : Ludon.status , allergy : Ludon.allergy , size : Ludon.size}">
                        {{Ludon.name}}￥{{Ludon.price}}円：{{Ludon.status}}：{{Ludon.size}}
                </div>
            </div>
            <div v-if="toppingsuggest.length != 0">
                トッピングといっしょに
                <div v-for="Ludon in toppingsuggest" @click="nextpage() , selectudon = {name : Ludon.name , price : Ludon.price, img : Ludon.img , status : Ludon.status , allergy : Ludon.allergy , size : Ludon.size}">
                        {{Ludon.name}}￥{{Ludon.price}}円：{{Ludon.status}}：{{Ludon.size}}
                </div>
            </div>
            <div v-if="udonsuggest.length != 0">
                うどんのみ
                <div v-for="Ludon in udonsuggest" @click="nextpage() , selectudon = {name : Ludon.name , price : Ludon.price, img : Ludon.img , status : Ludon.status , allergy : Ludon.allergy , size : Ludon.size}">
                        {{Ludon.name}}￥{{Ludon.price}}円：{{Ludon.status}}：{{Ludon.size}}
                </div>
            </div>
            <div v-if="tempurasuggest.length != 0">
                天ぷらといっしょに
                <div v-for="Ludon in tempurasuggest" @click="nextpage() , selectudon = {name : Ludon.name , price : Ludon.price, img : Ludon.img , status : Ludon.status , allergy : Ludon.allergy , size : Ludon.size}">
                        {{Ludon.name}}￥{{Ludon.price}}円：{{Ludon.status}}：{{Ludon.size}}
                </div>
            </div>
            <div v-if="othersuggest.length != 0">
                    その他
                    <div v-for="Ludon in othersuggest" @click="nextpage() , selectudon = {name : Ludon.name , price : Ludon.price, img : Ludon.img , status : Ludon.status , allergy : Ludon.allergy , size : Ludon.size}">
                            {{Ludon.name}}￥{{Ludon.price}}円：{{Ludon.status}}：{{Ludon.size}}
                    </div>
                </div>
        </div>
        <div v-if="page === 3">
            {{selectudon.name}}￥{{selectudon.price}}円：{{selectudon.status}}：{{selectudon.size}}
            <img v-bind:src="selectudon.img">
            <button @click="nextpage()">コレニスル</button>
        </div>
        <div v-if="page === 4">いいうどんを！</div>
    </div>
    <script src="vue.js"></script>
</body>
</html> 